<div class="col-sm-12">
	<h1 class="display-3">YouTube to Podcast</h1>
	<hr/>
	<div class="input-group" style="margin-bottom:20px; width:100%;">
		<input type="text" id="yt" class="form-control" />
	</div>
	<div class="text-xs-center" id="progress-total-text"></div>
	<progress class="progress progress-animated" value="0" max="100" aria-describedby="progress-total-text"
	          id="progress-total"></progress>
	<div class="text-xs-center" id="progress-stage-text"></div>
	<progress class="progress progress-animated" value="0" max="100" aria-describedby="progress-stage-text"
	          id="progress-stage"></progress>
	<h2><button onclick="ajax_stream();" class="btn-info btn">Add Video To Feed</button></h2>
	<script>
	var currentlyDownloading = false;

	$(function() {
		$('.input-group').each(function() {
			$(this).find('input').keypress(function(e) {
				if(e.which == 10 || e.which == 13) {
					ajax_stream();
				}
			});
		});
	});

	function ajax_stream(){
		if(!$("#yt").val()){
			return;
		}
		if (!window.XMLHttpRequest){
			alert("Your browser does not support the native XMLHttpRequest object.");
			return;
		}
		if(currentlyDownloading){
			alert("Wait for the current download to complete");
			return;
		}
		else{
			currentlyDownloading = true;
		}

		try{
			$('#progress-total').removeClass("progress-success").removeClass("progress-danger").addClass("progress-striped");
			$('#progress-stage').removeClass("progress-success").removeClass("progress-danger").addClass("progress-striped");
			var stages = {0:"Downloading", 1:"Converting to MP3"};
			var numberOfStages = Object.keys(stages).length;

			var xhr = new XMLHttpRequest();
			var error = null;
			xhr.previous_text = '';
			xhr.onerror = function() { alert("[XHR] Fatal Error."); };
			xhr.onreadystatechange = function() {
				try{
					if(error !== null){
						$('#progress-total').attr('value', 100).removeClass("progress-striped").addClass("progress-danger");
						$('#progress-stage').attr('value', 100).removeClass("progress-striped").addClass("progress-danger");
						$("#progress-stage-text").text("Error");
						$("#progress-total-text").text("Error");
						currentlyDownloading = false;
					}
					else if(xhr.readyState == 4){
						$('#progress-total').attr('value', 100).removeClass("progress-striped").addClass("progress-success");
						$('#progress-stage').attr('value', 100).removeClass("progress-striped").addClass("progress-success");
						$("#progress-stage-text").text("Completed");
						$("#progress-total-text").text("Completed");
						currentlyDownloading = false;
					}
					else if (xhr.readyState == 3){
						var new_response = xhr.responseText.substring(xhr.previous_text.length);
						new_response = new_response.substring(new_response.lastIndexOf('{'), new_response.lastIndexOf('}')+1);
						var result = JSON.parse(new_response);

						if(result.stage == -1){
							error = result.error;
							$('#Error-Modal-Text').html(error);
							$('#Error-Modal').modal({
								show: true
							});
							currentlyDownloading = false;
						}

						var totalProg = ((100/(numberOfStages))*result.stage) + (result.progress/numberOfStages);
						totalProg = Math.round(totalProg);
						result.progress = Math.round(result.progress);
						$('#progress-total').attr('value', totalProg);
						$('#progress-stage').attr('value', result.progress);
						$("#progress-stage-text").text(stages[result.stage]+" "+result.progress+"%");
						$("#progress-total-text").text(stages[result.stage]+" "+totalProg+"%");
						xhr.previous_text = xhr.responseText;
					}
				}
				catch (e){
				}
			};
			xhr.open("GET", "yt.php?yt="+$("#yt").val(), true);
			xhr.send();
		}
		catch (e){
		}
	}
	</script>
	<div id="Error-Modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h2 class="modal-title">PodTube Error</h2>
				<div class="modal-body">
					<p id="Error-Modal-Text"></p>
				</div>
			</div>
		</div>
	</div>
</div>