extends template.pug

block nav
    include nav.pug
block content
    if emailverify == 1
        div(role="alert").alert.alert-success
            div.alert-text Successfully verified email.
    else if emailverify == 2
        div(role="alert").alert.alert-danger
            div.alert-text Failed to verify email!
    if edit
        include userPageEdit.pug
    else
        include userPageView.pug
