div(tabindex="-1" role="dialog").modal.fade#Error-Modal
    div.modal-dialog
        div.modal-content
            div.modal-header
                h2.modal-title AudioDidact Error
                button(type="button" data-dismiss="modal" aria-label="Close").close
                    span(aria-hidden="true") &times;
            div.modal-body
                p#Error-Modal-Text
