link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin="anonymous")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js", integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", crossorigin="anonymous")
block afterJqueryLoad
script.
	$(function (){
		$("#uname").keypress(function (e){
			if(e.key === "Enter"){
				login();
			}
		});
		$("#passwd").keypress(function (e){
			if(e.key === "Enter"){
				login();
			}
		});
	});
	function login(){
		$.post("/#{subdir}login", {uname: $("#uname").val(), passwd: $("#passwd").val(), action: "login"},
			function (data){
				if(data.indexOf("Success") > -1){
					location.reload();
				}
				else{
					alert("Could not login with those credentials. Please make sure they are correct.");
				}
			});
	}
	function logout(){
		$.get("/#{subdir}logout", function (data){
			if(data.indexOf("Success") > -1){
				location.reload();
			}
		});
	}
