link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy", crossorigin="anonymous")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js", integrity="sha384-VspmFJ2uqRrKr3en+IG0cIq1Cl/v/PHneDw6SQZYgrcr8ZZmZoQ3zhuGfMnSR/F2", crossorigin="anonymous")
block afterJqueryLoad
script.
	$(function (){
		$("#uname").keypress(function (e){
			if(e.key === "Enter"){
				login();
			}
		});
		$("#passwd").keypress(function (e){
			if(e.key === "Enter"){
				login();
			}
		});
	});
	function login(){
		$.post("/#{subdir}login", {uname: $("#uname").val(), passwd: $("#passwd").val(), action: "login"},
			function (data){
				if(data.indexOf("Success") > -1){
					location.reload();
				}
				else{
					alert("Could not login with those credentials. Please make sure they are correct.");
				}
			});
	}
	function logout(){
		$.get("/#{subdir}logout", function (data){
			if(data.indexOf("Success") > -1){
				location.reload();
			}
		});
	}
