div.card.mb-1
	h3.card-header Where to report bugs
	div.card-body
		p.card-text.
			Report bugs on my GitHub project at <a href="https://github.com/mikedombo/AudioDidact/issues">
			https://github.com/mikedombo/AudioDidact/issues</a> and click "New Issue". Please be as
			descriptive as possible so I can quickly address your problem.
