div.card.mb-1
    h3.card-header Where to get support
    div.card-block
        p.card-text You can email me at <a href="mailto:michael@mikedombrowski.com">michael@mikedombrowski.com</a>.
div.card.mb-1
    h3.card-header Where to report bugs
    div.card-block
        p.card-text.
            Report bugs on my GitHub project at <a href="https://github.com/md100play/AudioDidact/issues">
            https://github.com/md100play/AudioDidact/issues</a> and click "New Issue". Please be as
            descriptive as possible so I can quickly address your problem.