extends template.pug
block content
	if verified == false
		div(role="alert").alert.alert-danger
			div.alert-text Before using AudioDidact you must verify your email address.
			div.alert-text <a href="/#{subdir}updateUser.php?resend">Click here to resend the email.</a>
	div.jumbotron.text-center
		h1.display-1 AudioDidact - Custom Podcast Service
		h2
			a(href="signup.php") Make an Account and Add Content to Your Feed Now!
	div.row.justify-content-center
		div.col-md-4.pb-4
			iframe(width="640" height="360" src="https://www.youtube-nocookie.com/embed/sHheHyb-hW8?rel=0&amp; " +
			"controls=0&amp;showinfo=0" frameborder="0" allowfullscreen)
	div.row
		div.col-md-4
			h1 What is AudioDidact?
			hr
			p AudioDidact means taking the best content from the web on the go in an audio form.
			h4 AudioDidact does not work for playlists or channels, it is for adding individual videos/audio only.
		div.col-md-4
			h1 How Does This Work?
			hr
			h3.
				<a href="signup.php"> Sign up for an account</a> to get started.
			p.
				Enter any YouTube video, Vimeo video, or SoundCloud audio URL in the textbox and click "Add Video To
				Feed" to put the
				video into your custom podcast feed. Look at the <a href="/#{subdir}faq">FAQ page</a> to see an
				updated list of supported websites. Next, subscribe to the
				feed URL shown on the "Add Video" page with any podcast player.
		div.col-md-4
			h1 Development
			hr
			p.
				AudioDidact is in active development by
				<a href="http://mikedombrowski.com" target="_blank">Michael Dombrowski</a>
				and the source is available on my
				<a href="http://github.com/md100play/AudioDidact" target="_blank"> GitHub</a> API Documentation is
				online
				<a href="http://md100play.github.io/AudioDidact" target="_blank"> here</a>.
