extends template.pug
block content
	div.row.justify-content-sm-center
		div.col-md-8
			form.navbar-form.navbar-left
				div.form-group.row
					label(for="unameSignup" class="col-form-label col-sm-2") Username or Email Address:
					div.col-sm-10
						input(id="unameSignup" type="text" class="form-control" placeholder="Username")
				a(class="btn btn-success form-control" style="color:#FFFFFF" href="#" onclick="signup();") Request a Password Reset
block afterJqueryLoad
	script.
		$(function (){
			$("#unameSignup").keypress(function (e){
				if(e.which === 10 || e.which === 13){
					signup();
				}
			});
		});
		function signup(){
			$.get("/#{subdir}resetPassword", {uname: $("#unameSignup").val()}, function (data){
				alert(data);
				location.assign("/#{subdir}");
			});
		}
